* {
  font-family: "Epilogue", "sans-serif";
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.1rem;
  font-family: sans-serif;
}
.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
#about li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #3a393c;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child {
    border: 0px;
    padding-bottom: 0;
  }
  &:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #fbf8ff;
    box-shadow: 3px 3px 0px #534e60;
    box-shadow: 3px 3px 0px #534e60;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
#about .time {
}
#about p {
  margin-top: 0.4rem;
}
.cd {
  scrollbar-color: transparent transparent;
}
.cd::-webkit-scrollbar {
  display: none;
}
hr {
  color: black;
}
.scrolling-container {
  overflow: hidden;
  position: relative;
}

.scrolling-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
